html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
/*********************HEADER*********************/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  background: url("imgs/banner.png") center;
  background-size: cover;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: url("imgs/mask.jpg");
}
.navbar {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.logo {
  padding-left: 15px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
}

.nav-item {
  margin-right: 40px;
}
.lang {
  color: white;
  text-decoration: none;
  font: 300 17px/35px $roboto_light;
  border-top: 1px solid rgba(190,214,47,0);
  transition: 0.3s ease-out;
}
.top-nav__link:not(.language):hover {
  transition: 0.3s ease-out;
  border-top: 1px solid #bed62f;
}
.search {
  font-size: 20px;
  color: $light_green;
}
.lang {
  border: 1px solid $light_green;
  padding: 8px 10px;
}
.lang:hover {
  background-color: $light_green;
}
.switch_pages {
  border-left: 5px solid $light_green;
  position: relative;
  z-index: 5;
}
.pagination {
  margin-left: 60px;
  color: $white;
}
.back:hover,
.forward:hover {
  cursor: pointer;
  color: $light_green;
}
.current {
  color: $light_green;
}
.switch_pages h1 {
  font: 700 58px/70px $acrom_bold;
  color: $white;
  text-transform: uppercase;
  margin-left: 60px;
}
.arrow-down {
  position: relative;
  z-index: 50;
  display: inline-block;
  width: 23px;
  height: 35px;
  margin-bottom: 40px;
  border-radius: 100px;
  border: 2px solid $white;
  transition: 0.5s ease-out;
}
.arrow-down .scroll {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 10px;
  background-color: $light_green;
  width: 2px;
  height: 10px;
  color: $light_green;
}
.arrow-down:hover {
  background-color: $white;
  transition: 0.5s ease-out;
}
/**********ANIMATION*********/
.bounce {
  animation: bounce 2s infinite;
}
/*********************ABOUT*********************/
.about {
  padding: 70px 0 130px 0;
}
h1 {
  font: 700 45px/50px $acrom_bold;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: $light_grey;
}
h1 span {
  position: absolute;
  top: -20px;
  left: -35px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: $blue;
}
h1 span::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -10px;
  display: block;
  width: 12px;
  height: 12px;
  background-color: $green;
}
h1 span::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 10px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: $green;
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
}
.about-wrapper__text {
  width: 68%;
}
.about-wrapper__text p {
  font: 300 17px/35px $roboto_light;
  color: $light_grey;
  margin: 0;
}
.about-wrapper__img {
  width: 30%;
  position: relative;
}
.about-wrapper__img img {
  display: block;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  width: 100%;
}
.about-wrapper__img span {
  position: absolute;
  background-color: $green;
  display: block;
  width: 19px;
  height: 19px;
  top: 7px;
  right: -29px;
}
.about-wrapper__img span::before {
  content: "";
  position: absolute;
  background-color: $blue;
  display: block;
  width: 24px;
  height: 24px;
  top: -45px;
  right: 32px;
}
.more,
.projects-title a {
  font: 700 15px/30px $roboto_light;
  text-decoration: none;
  border-bottom: 1px solid $blue;
  display: inline-block;
  color: $blue;
  text-transform: uppercase;
  margin-top: 70px;
}
.more::after,
.projects-title a::after {
  content: "→";
  position: absolute;
  left: 14%;
}
/*********************PROJECTS*********************/
.projects {
  padding-bottom: 100px;
}
.projects-title {
  width: 30%;
}
.projects-title a {
  margin-top: 0;
}
.projects-title a::after {
  left: 15%;
}
.projects-items {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects-items__elem {
  width: 43%;
  background-size: cover;
  height: 350px;
  margin-bottom: 25px;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease-out;
}
.projects-items__elem-first,
.projects-items__elem-third {
  background: url("../img/first.png") no-repeat;
}
.projects-items__elem-second {
  background: url("../img/second.png") no-repeat;
}
.projects-items__elem-fourth {
  background: url("../img/fourth.png") no-repeat;
}
.projects-items__elem-content {
  padding: 50px;
  height: 250px;
  background: rgba(15,91,88,0);
  transition: 0.5s ease-out;
}
.projects-items__elem-content h2 {
  font: 700 28px/32px $acrom_bold;
  text-transform: uppercase;
  color: $white;
}
.projects-items__elem-content p {
  font: 300 18px/24px $roboto_light;
  color: $white;
  display: none;
  transition: 0.3s ease-out;
}
.projects-items__elem-content a {
  display: inline-block;
  border: 1px solid $blue;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font: 700 13px/30px $roboto_bold;
  padding: 0 15px;
  border-radius: 5px;
}
.projects-items__elem-content:hover {
  transition: 0.5s ease-out;
  background: rgba(15,91,88,0.5);
}
.projects-items__elem:hover h2 {
  border-bottom: 1px solid $green;
}
.projects-items__elem:hover p {
  display: block;
}
.projects-items__elem:hover a {
  background: transparent;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
/*********************COUNTER*********************/
.counter {
  background: url("../img/counter-bg.jpg") 50%;
  background-size: cover;
  position: relative;
  padding: 60px 0;
}
.counter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: relative;
}
.counter-content__elem {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-right: 4px solid $green;
  width: 25%;
}
.counter-content__elem:first-child {
  border-left: 4px solid $green;
}
.counter-content__elem span:first-child {
  font: 700 75px/60px $roboto_bold;
  color: $white;
  margin-bottom: 35px;
}
.counter-content__elem span:last-child {
  font: 300 19px/25px $roboto_light;
  color: $white;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(15,91,88,0.8);
}
/*********************NEWS*********************/
.news {
  padding: 95px 0;
}
.news h1 {
  text-align: center;
  margin: 0 0 85px 0;
}
.news h1 span {
  left: 42%;
}
.news-content {
  display: flex;
  justify-content: space-between;
}
.news-content__item {
  position: relative;
  width: 25%;
  padding: 25px 30px;
  background-color: $white;
  box-shadow: 0px 3px 19px 0px rgba(10,30,39,0.13);
  transition: 0.5s ease-out;
}
.news-content__item:hover {
  transition: 0.5s ease-out;
  margin-top: -10px;
}
.news-content__item span {
  font: 300 15px/28px $roboto_light;
  color: $darken_grey;
  display: block;
  margin-bottom: 25px;
}
.news-content__item span a {
  color: $blue;
}
.news-content__item h4 {
  text-transform: uppercase;
  font: 700 19px/30px $roboto_bold;
  color: $light_grey;
}
.news-content__item p {
  font: 300 16px/25px $roboto_light;
  color: $darken_grey;
  padding-bottom: 65px;
}
.news-content__item .btn {
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 100%;
  padding: 18px 0;
  display: inline-block;
  background-color: $blue;
  text-align: center;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
/*********************FOOTER*********************/
footer {
  padding: 80px 0 0 0;
  background-color: #f3fafa;
}
.footer-data {
  width: 40%;
}
.footer-data .address,
.footer-data .mobile,
.footer-data .email {
  display: flex;
}
.footer-data .address i {
  font-size: 35px;
  color: $blue;
}
.footer-data .address span {
  font: 300 17px/28px $roboto_light;
  color: $light_grey;
  margin-left: 45px;
}
.footer-data .mobile {
  margin-top: 20px;
}
.footer-data .mobile i {
  font-size: 45px;
  color: $blue;
}
.footer-data .mobile span {
  font: 300 17px/28px $roboto_light;
  color: $light_grey;
  margin-left: 45px;
}
.footer-data .email {
  margin-top: 20px;
}
.footer-data .email i {
  font-size: 30px;
  color: $blue;
}
.footer-data .email a {
  color: $blue;
  font: 300 15px/28px $roboto_light;
  display: block;
  margin-left: 35px;
}
.contact-form {
  width: 60%;
  margin-bottom: 56px;
}
.contact-form form {
  display: flex;
  flex-wrap: wrap;
}
.form-field {
  position: relative;
  margin: 32px 0 23px 0;
}
.x-50 {
  width: 50%;
}
.x-100 {
  width: 100%;
}
input[type="text"],
input[type="email"] {
  display: block;
  background: transparent;
  width: 80%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #989b9c;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: $blue;
}
input[type="text"]:focus +label,
input[type="email"]:focus +label,
input[type="text"].not-empty +label,
input[type="email"].not-empty +label {
  transform: translateY(-24px);
  color: $blue;
}
label {
  position: absolute;
  bottom: 11px;
  left: 3px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  cursor: text;
  color: #989b9c;
  transition: transform 0.2s ease-in-out;
  text-transform: uppercase;
}
.form-control {
  border-radius: 0;
  border-color: #989b9c;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  background: transparent;
  margin-bottom: 20px;
}
.form-control:focus {
  border-color: $blue;
  outline: none;
}
button[type="submit"] {
  border: 0;
  background-color: $blue;
  padding: 15px 20px;
  border-radius: 5px;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
button[type="submit"]:focus {
  outline: none;
}
.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: $light_grey;
}
.copy p {
  color: $white;
  font: 300 14px/31px $roboto_light;
}
.copy .social a {
  text-decoration: none;
  margin-right: 28px;
  color: #859997;
}
.copy span {
  color: #859997;
}
.copy span a {
  font: 700 13px/22px $roboto_bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #b3b3b3;
}
